{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="{% static 'index.css' %}" >
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">


</head>
<body>

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
       <a href="/index">

     <input class="btn " type="button" value="Home" >
        </a>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <a class="navbar-brand" href="#">SGE - Sistema para Gerenciamento de Estabelecimentos</a>

  </nav>
</div>


{% csrf_token %}

<div class="container">
    <a href="/establishment/new">

     <input class="establish-grid btn btn-lg " type="button" value="Criar Estabelecimento" >
        </a>

<table id="establishments" class=" establish-grid table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                {% for column in cols %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
  </table>
</div>
</body>
</html>

<script src="{% static '/js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static '/js/jquery-ui.js' %}"></script>

<script src="{% static '/js/index.js' %}"></script>
<script src="{% static '/js/bootstrap.js' %}"></script>

